<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!DOCTYPE html>
<html>
<head>
    <title>Visit Bulk Delete</title>
</head>
<body>
    <a href="/customer">customer</a>
    <a href="/customer_map">customer map</a>
    <a href="/visit">visit</a>    
    <a href="/map">map</a>
    <a href="/newcustomer">newcustomer</a>
    <a href="/newcustomer_map">newcustomer map</a>
    <a href="/reports">report</a>
    <a href="/users">users</a>
    <a href="/visit_bulk_delete">visit bulk delete</a>

    <br><br>
    <form method="POST" action="{% url 'visit_bulk_delete' %}">    
    {% csrf_token %}
    Monthly Report
    <table>
        <tr>
            <td>Date</td>
            <td><input type="date" name="dateFilter"></td>
        </tr>
        <tr>
            <td>User</td>
            <td><input type="textbox" name="userFilter"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button type="submit" width="100%">Bulk Delete</button></td>
        </tr>
    </table>
    </form>
</body>
</html>