<!DOCTYPE html>
<html>
<head>
    <title>Visit Delete</title>
</head>
<body>
    <a href="/customer">customer</a>
    <a href="/customer_map">customer map</a>
    <a href="/visit">visit</a>    
    <a href="/map">map</a>
    <a href="/newcustomer">newcustomer</a>
    <a href="/newcustomer_map">newcustomer map</a>
    <a href="/reports">report</a>
    <a href="/users">users</a>
    <a href="/visit_bulk_delete">visit bulk delete</a>

    <br><br>
    <form method="POST" action="{% url 'visit_delete_execute' %}">            
    {% csrf_token %}
    <input type=hidden name="Id" value="{{ visitId }}">
    <table border="2">
        <tr>
            <td align="center">Click Here To Delete</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button type="submit" width="100%">Delete</button></td>
        </tr>
    </table>
    </form>
</body>
</html>